<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <body>
    <div class="ing-image">
      <div class="ing-text col-11 col-s-11">
        <h3 style="font-size:50px">Hola pinches putitos !</h3>
      </div>
    </div>

    <div class="footer">
      <img class="img-circle" src="../assets/a.jpg" width="400" height="400" hspace="20" /> 
      <img class="img-circle" src="../assets/b.jpg" width="400" height="400" hspace="20"/>
      <img class="img-circle" src="../assets/c.jpg" width="400" height="400" hspace="20"/>
    </div>
  </body>
</html>
